<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:books="http://typo3.org/ns/Extcode/Books/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="table-responsive-md">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col"><f:translate key="tx_books_domain_model_book.title"/></th>
            <th scope="col"><f:translate key="tx_books_domain_model_book.author"/></th>
            <th scope="col"><f:translate key="tx_books_domain_model_book.genre"/></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{books}" as="book">
            <tr>
                <td>
                    <books:link.book book="{book}" settings="{settings}">
                        <div class="book-title">{book.title}</div>
                    </books:link.book>
                </td>
                <td>{book.author}</td>
                <td>{book.genre}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>
</html>
